{extends file="../common/headerfooter.html"}
{block name='mainmiddle'}
<!--contact-->
<div class="contact">
    <div class="container">
        <h3>Contact us</h3>
        <div class="contact-form">
            <form action="#" id="myform" method="post">
                <input type="text" name="uname" id="uname" value="Name" onfocus="this.value = '';"
                       onblur="{literal}if (this.value == '') {this.value = 'Name';}{/literal}" required="">
                <div class="col-md-6 cnt-inpt">
                    <input type="email" name="uemail" id="uemail" value="Email" onfocus="this.value = '';"
                           onblur="{literal}if (this.value == '') {this.value = 'Email';}{/literal}" required="">
                </div>
                <div class="col-md-6 cnt-inpt">
                    <input type="text" value="Telephone" name="uphone" id="uphone" onfocus="this.value = '';"
                           onblur="{literal}if (this.value == '') {this.value = 'Telephone';}{/literal}" required="">
                </div>
                <div class="clearfix"></div>
                <textarea name="umessage" id="umessage" onfocus="this.value = '' ;"
                          onblur="{literal}if (this.value == '') {this.value = 'Message...';}{/literal}"
                          required=""> Message... </textarea>
                <input type="submit" id="sub" value="submit">
            </form>
        </div>
    </div>
</div>
<!--//contact-->
<!--ajax提交数据-->
{literal}
<script type="text/javascript">
    $(function () {
        $("#sub").click(function () {
            $.post(
                'index.php?g=home&c=index&a=guestbook',
                $("#myform").serialize(),
                function (result) {
                    if (result.errno == 200) {
                        alert(result.mess+"\n点击确定按钮返回网站首页。");
                        window.location.href="index.php";
                    }else{
                        alert(result.mess+"\n点击确定按钮返回留言页面。");
                        // window.location.href="index.php?g=home&c=index&a=contact";
                    }
                },
                "json"
            );
            return false;
        });
    });
</script>
{/literal}

{/block}