<!DOCTYPE html>
<html>
<head>
<title>Services</title>
<link href="<?php echo __HOME_CSS__;?>bootstrap.css" type="text/css" rel="stylesheet" media="all">
<link href="<?php echo __HOME_CSS__;?>style.css" type="text/css" rel="stylesheet" media="all">
<link rel="stylesheet" href="<?php echo __HOME_CSS__;?>chocolat.css" type="text/css" media="screen">
<!-- Custom Theme files -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Doctor Plus Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //Custom Theme files -->
<!-- js -->
<script src="<?php echo __HOME_JS__;?>jquery-1.11.1.min.js"></script>
<!-- //js -->	
<!-- start-smoth-scrolling-->
<script type="text/javascript" src="<?php echo __HOME_JS__;?>move-top.js"></script>
<script type="text/javascript" src="<?php echo __HOME_JS__;?>easing.js"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smoth-scrolling-->
</head>
<body>
	<!--header-->
	<!--引入公共代码-->
	<?php include_once __HOME_COMMON__."index_header.html"; ?>
	<!--//header-bottom-->
	<!--services-->
	<div class="services">
		<div class="container">
			<h3>Services overview</h3>
			<div class="row services-info">			
				<div class="col-sm-6 col-md-4 services-grids">
					<div class="thumbnail">
						<div class="moments-bottom">
							<a href="<?php echo __HOME_CSS__;?>img9.jpg">
								<img src="<?php echo __HOME_CSS__;?>img9.jpg" class="img-responsive zoom-img " alt="">
							</a>
						</div>
						<div class="caption services-caption">
							<h4><a href="single.html">Facilisis dignissimos luptat</a></h4>
							<p>Cras justo odioda pibus facilisis dignissimos voluptatem accusantium</p>				
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 services-grids">
					<div class="thumbnail">
						<div class="moments-bottom">
							<a href="<?php echo __HOME_CSS__;?>img10.jpg">
								<img src="<?php echo __HOME_CSS__;?>img10.jpg" class="img-responsive zoom-img " alt="">
							</a>
						</div>
						<div class="caption services-caption">
							<h4><a href="single.html">Facilisis dignissimos luptat</a></h4>
							<p>Cras justo odioda pibus facilisis dignissimos voluptatem accusantium</p>				
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 services-grids">
					<div class="thumbnail">
						<div class="moments-bottom">
							<a href="<?php echo __HOME_CSS__;?>img11.jpg">
								<img src="<?php echo __HOME_CSS__;?>img11.jpg" class="img-responsive zoom-img " alt="">
							</a>
						</div>
						<div class="caption services-caption">
							<h4><a href="single.html">Facilisis dignissimos luptat</a></h4>
							<p>Cras justo odioda pibus facilisis dignissimos voluptatem accusantium</p>				
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 services-grids">
					<div class="thumbnail">
						<div class="moments-bottom">
							<a href="<?php echo __HOME_CSS__;?>img12.jpg">
								<img src="<?php echo __HOME_CSS__;?>img12.jpg" class="img-responsive zoom-img " alt="">
							</a>
						</div>
						<div class="caption services-caption">
							<h4><a href="single.html">Facilisis dignissimos luptat</a></h4>
							<p>Cras justo odioda pibus facilisis dignissimos voluptatem accusantium</p>				
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 services-grids">
					<div class="thumbnail">
						<div class="moments-bottom">
							<a href="<?php echo __HOME_CSS__;?>img13.jpg">
								<img src="<?php echo __HOME_CSS__;?>img13.jpg" class="img-responsive zoom-img " alt="">
							</a>
						</div>
						<div class="caption services-caption">
							<h4><a href="single.html">Facilisis dignissimos luptat</a></h4>
							<p>Cras justo odioda pibus facilisis dignissimos voluptatem accusantium</p>				
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 services-grids">
					<div class="thumbnail">
						<div class="moments-bottom">
							<a href="<?php echo __HOME_CSS__;?>img14.jpg">
								<img src="<?php echo __HOME_CSS__;?>img14.jpg" class="img-responsive zoom-img " alt="">
							</a>
						</div>
						<div class="caption services-caption">
							<h4><a href="single.html">Facilisis dignissimos luptat</a></h4>
							<p>Cras justo odioda pibus facilisis dignissimos voluptatem accusantium</p>				
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 services-grids">
					<div class="thumbnail">
						<div class="moments-bottom">
							<a href="<?php echo __HOME_CSS__;?>img15.jpg">
								<img src="<?php echo __HOME_CSS__;?>img15.jpg" class="img-responsive zoom-img " alt="">
							</a>
						</div>
						<div class="caption services-caption">
							<h4><a href="single.html">Facilisis dignissimos luptat</a></h4>
							<p>Cras justo odioda pibus facilisis dignissimos voluptatem accusantium</p>				
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 services-grids">
					<div class="thumbnail">
						<div class="moments-bottom">
							<a href="<?php echo __HOME_CSS__;?>img16.jpg">
								<img src="<?php echo __HOME_CSS__;?>img16.jpg" class="img-responsive zoom-img " alt="">
							</a>
						</div>
						<div class="caption services-caption">
							<h4><a href="single.html">Facilisis dignissimos luptat</a></h4>
							<p>Cras justo odioda pibus facilisis dignissimos voluptatem accusantium</p>				
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 services-grids">
					<div class="thumbnail">
						<div class="moments-bottom">
							<a href="<?php echo __HOME_CSS__;?>img17.jpg">
								<img src="<?php echo __HOME_CSS__;?>img17.jpg" class="img-responsive zoom-img " alt="">
							</a>
						</div>
						<div class="caption services-caption">
							<h4><a href="single.html">Facilisis dignissimos luptat</a></h4>
							<p>Cras justo odioda pibus facilisis dignissimos voluptatem accusantium</p>				
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
			<!--light-box-js -->
				<script src="<?php echo __HOME_JS__;?>jquery.chocolat.js"></script>
				<!--light-box-files -->
				<script type="text/javascript">
				$(function() {
					$('.moments-bottom a').Chocolat();
				});
				</script> 
			<!--//end-gallery js-->
		</div>
	</div>	
	<!--map-->
	<!--//map-->
	<!--footer-->
	<!--引入底部公共代码-->
	<?php include_once __HOME_COMMON__."index_footer.html"; ?>
	<!--smooth-scrolling-of-move-up-->
	<script type="text/javascript">
		$(document).ready(function() {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
	<a href="#" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="<?php echo __HOME_JS__;?>bootstrap.js"> </script>
</body>
</html>