{extends file="../common/topaside.html"}
{block name='main'}
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <ol class="breadcrumb">
            <li><a href="#"><span class="glyphicon glyphicon-home"></span></a></li>
            <li class="active">留言管理</li>
        </ol>
    </div><!--/.row-->

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">留言管理</h1>
        </div>
    </div><!--/.row-->


    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">留言列表</div>
                <div class="panel-body">
                    <table id="table" data-show-refresh="true" data-show-toggle="true" data-show-columns="true">
                    </table>
                </div>
            </div>
        </div>
    </div><!--/.row-->
</div><!--/.main-->
<script src="{$smarty.const.__ADMIN_JS__}gbmgr.js"></script>
{/block}


