<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-4 recent-posts">
                <h4>Recent posts</h4>
                <div class="recent-posts-text">
                    <h5>MARCH 30, 2015</h5>
                    <p>Duis autem vel eum iriure dolor</p>
                </div>
                <div class="recent-posts-text">
                    <h5>MARCH 15, 2015</h5>
                    <p>Duis autem vel eum iriure dolor</p>
                </div>
                <div class="recent-posts-text">
                    <h5>MARCH 3, 2015</h5>
                    <p>Duis autem vel eum iriure dolor</p>
                </div>
            </div>
            <div class="col-md-4 recent-posts">
                <h4>Twiter feeds</h4>
                <div class="recent-posts-text">
                    <h5>about 2 days ago<span>@kristit</span></h5>
                    <p>Good work buddy</p>
                </div>
                <div class="recent-posts-text">
                    <h5>about 2 days ago <span>@fasteven</span></h5>
                    <p>Good work buddy</p>
                </div>
                <div class="recent-posts-text">
                    <h5>about 2 days ago <span>@streamer</span> </h5>
                    <p>Good work buddy</p>
                </div>
            </div>
            <div class="col-md-4 recent-posts">
                <h4>Our address</h4>
                <p class="adrs">Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. Claritas est etiam processus dynamicus,
                    facilisi Nam liber tempor cum soluta </p>
                <ul>
                    <li><span></span>Moonshine St. 14/05 Light, Japan</li>
                    <li><span class="ph-no"></span>+00 (123) 111 11 11</li>
                    <li><span class="mail"></span><a href="mailto:example@mail.com">mail@example.com</a></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<div class="footer-bottom">
    <div class="container">
        <p>Copyright &copy; 2018.宇宙科技公司 <a href="#" target="_blank" title="#">治愈系</a> - Collect from <a href="#" title="#" target="_blank">包治百病</a></p>
    </div>
</div>